* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

nav {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
    width: 100%;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.corner-container {
    border: 5px solid black;
    max-width: 90vw;
    max-height: 90vh;
    position: relative;
}

#corner-image {
    width: 100%;
    height: auto;
}
